# Secrets
.env
*.env

# Miden client data
store.sqlite3
store.sqlite3-journal
keystore/
*.masp

# Build artifacts
target/
out/
cache/
lib/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Relayer logs
relayer/*.log
relayer/relayer_bg*.log
relayer/relayer_debug*.log
relayer/relayer_final*.log

# Relayer DB
relayer/*.db
relayer/*.db-journal
